<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="对话框生成器.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="对话框生成器.My.MySettings.Database1Connection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <对话框生成器.My.MySettings>
            <setting name="M1T" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M1M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M1M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M1P" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M2T" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M2M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M2M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M2P" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M3T" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M3M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M3M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M3P" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M4T" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M4M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M4M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M4P" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M5T" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M5M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M5M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M5P" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M6T" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M6M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M6M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M6P" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M1S" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M2S" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M3S" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M4S" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M5S" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="M6S" serializeAs="String">
                <value>&lt;空&gt;</value>
            </setting>
            <setting name="L1T" serializeAs="String">
                <value />
            </setting>
            <setting name="L1M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="L1M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="L1P" serializeAs="String">
                <value />
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoreVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisInterval" serializeAs="String">
                <value>500</value>
            </setting>
        </对话框生成器.My.MySettings>
    </userSettings>
</configuration>
